@font-face {
    font-family: 'Inknut Antiqua';
    src: url('InknutAntiqua/Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inknut Antiqua';
    src: url('InknutAntiqua/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --foreground: #000000;
    --background: #FFFFFF;
    --link: #0061E0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #FFFFFF;
        --background: #1C1B22;
        --link: #00DDFF;
    }
}

body {
    max-width: 70ch;
    padding: 3em 2em;
    margin: auto;
    line-height: 1.5;
    background: var(--background);
    color: var(--foreground);
    /* from https://css-tricks.com/snippets/css/system-font-stack/ */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
    font-family: 'Inknut Antiqua', serif;
}

p, ul, ol {
    margin-bottom: 2em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    margin-right: 1ch;
}

a {
    text-decoration: underline dotted;
    z-index: 1;
    color: var(--link);
}

a:hover, a:focus {
    text-decoration: underline;
}

.description {
    font-style: italic;
}

hr {
    border: none;
}

hr::after {
    content: "⁂";
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    color: var(--foreground);
    text-align: center;
    display: block;
}

#icon {
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
}

::selection {
    background: var(--foreground);
    color: var(--background);
}