---
const articles = await Astro.glob("../pages/**")
---
<h2>sitemap</h2>
<ul>
    {articles.map(article => <li><a href={article.url ? article.url : "/"}>{article.frontmatter.title}</a>
        {article.frontmatter.description && <span class="description">{article.frontmatter.description}</span>}</li>)}
</ul>