---
const { frontmatter } = Astro.props
---
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <title>{frontmatter.title} - {new URL(import.meta.env.SITE).host}</title>
        {frontmatter.description && <meta name="description" content={frontmatter.description} />}
        <link rel="stylesheet" href="/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <nav>
            <ul>
                <li id="icon">†</li>
                <li><a href="/">index</a></li>
                <li><a href="https://github.com/woodalis/wiki.inforno.graphics">source</a></li>
            </ul>
        </nav>
        <header>
            <h1>{frontmatter.title}</h1>
            {frontmatter.description && <p class="description">{frontmatter.description}</p>}
            <hr />
        </header>
        <article lang={frontmatter.language ? frontmatter.language : "en-GB"}>
            <slot />
        </article>
    </body>
</html>